# Created by .ignore support plugin (hsz.mobi)

# noedjs
node_modules
npm-debug.log

# vobe
vobe/secrets.json

#web
dist
**/node_modules

# docker
Dockerfile*
/*.cmd
.dockerignore
.gitignore
.git
README.md
LICENSE

