extends layout

block content
   link(rel='stylesheet', href='/style/post.css')

   h1= user ? ('Welcome, ' + user.username + '.') : title
   p Welcome to #{title}

   p#status
   div#feed(style='width:100%; display: flex; justify-content: center')
      div
         div(style='text-align: center')
            textarea.post-text
            br
            input(type='button' onclick='createPost($("#post-text").val())' value='send')
         div#posts
            include snippets/post
