doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/style/master.css')

      script(src='/js/lib/jquery.min.js')
      script(src='/js/lib/anime.min.js')
      script(src="/js/vobe.js")
   body
      div#container
         include snippets/navbar
         div#content
            block content
         include snippets/footer