extends layout

block content

   link(rel='stylesheet' href='/style/sites/index.css')

   p#status
   link(rel='stylesheet', href='/style/snippets/post.css')
   each post in posts
      include snippets/post



      // NEEDS A BIG REWRITE