extends layout

block content

    input#email(placeholder='email', type='email')
    input#username(placeholder='username')
    input#password(placeholder='password', type='password')
    input#register-confirm(type='button' value='Register' onclick='register()')

    p#status

    script.
        function register() {
            let register = {
                email: $('#email').val(),
                username: $('#username').val(),
                password: $('#password').val()
            }

            $.ajax({
                url: window.location.origin + '/api/auth/register',
                method: 'POST',
                data: register,
                dataType: 'json',
                success: function (data) {
                    $('#status').html(data.message);
                },
                error: function (err) {
                    $('#status').html(err);
                }
            })
        }