link(rel='stylesheet' href='/style/snippets/footer.css')

div#footer
   div.footer-item
      a(href='mailto:contact@vobe.io')
         h5 Contact

   div.footer-item
      h4='© Vobe ' + new Date().getFullYear()

   div.footer-item
      h5.primary-color-text=__vobe.version