link(rel='stylesheet' href='/style/snippets/navbar.css')

div#navbar
    #navbar-container
        .nav-item
        a#nav-logo.nav-item.nav-logo(href='/')
            img(src='/img/logo/vobe.svg')
        .nav-item
            if (user)
                img(src='/img/icons/face.svg'  style='margin-bottom: -0.35em; margin-right: 0.25em')
                a(href='/'+ user.username)=user.username
            else
                a(href='/login') Login
                span |
                a(href='/register') Register

script.
    let prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos)
        $('#navbar').css('top', '0');
      else
        $('#navbar').css('top', '-5em');

      prevScrollpos = currentScrollPos;
    }